# ==========================================
# 1. ENVIAMENT DE CORREUS (API Brevo)
# ==========================================
BREVO_API_KEY=""
BREVO_SENDER_EMAIL=""
BREVO_SENDER_NAME="Intersindical-CSC"

# ==========================================
# 2. CLOUDFLARE TURNSTILE (Captcha)
# ==========================================
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""

# ==========================================
# 3. BASE DE DADES (SQLite)
# ==========================================
DATABASE_URL="file:./dev.db"

# ==========================================
# 4. AUTENTICACIÓ (NextAuth)
# ==========================================
NEXTAUTH_SECRET=""
NEXTAUTH_URL="https://afiliacio.lainter.cat"
